body {
    background-image: url(./image/wallpaperflare.com_wallpaper.jpg);
}

h3 {
    background-color: antiquewhite;
    border: 10px solid black;
}

.box {
    text-align: left;
    margin-top: 0.5%;
    padding-bottom: 20%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
}

.name {
    font-weight: 700;
}

.car {
    font-weight: 700;
    color: red;
    text-decoration: underline;
}

.engien {
    font-weight: 700;
    color: blue;
    font-style: italic;
    background-color: aqua;
}